{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-layout | min-h-[100vh] flex flex-col justify-between">
      {% include 'navbar.html' %} {% block content %} {% endblock content %}
      <footer class="footer | bg-[#F9F5FF] py-[1.25rem]">
        <div class="footer-inner | text-center">
          <div class="footer-container | custom-container">
            <p class="text-[0.625rem] text-[#667085]">
              © Copyright 2024. All right reserved. Revolace
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
