{% extends 'base.html' %} {% block content %}

<div class="post | flex-grow py-[1.5rem]">
  <div class="post-inner |">
    <div class="post-container | custom-container p-[1rem]">
      <div class="post-content | flex flex-col gap-[1rem]">
        <div
          class="post-image-block | min-h-[17rem] w-full bg-center bg-cover sm:min-h-[27rem] lg:min-h-[35rem]"
          style="background-image: url('{{ post.image.url }}')"
        ></div>
        <div class="post-title-block |">
          <div class="post-title | flex justify-center">
            <h1>{{ post.title }}</h1>
          </div>
        </div>
        <p class="post-text | text-justify text-[#667085] leading-6">
          {{post.text}}
        </p>
        <a href="{% url 'author' post.author.id %}">
          <div class="post-author-block | flex gap-[1rem]">
            <div
              class="author-image | min-h-[3rem] min-w-[3rem] bg-[url('/media/author_images/user_photo.jpg')] bg-center bg-cover rounded-3xl"
            ></div>
            <div class="post-info | text-[0.875rem]">
              <p class="author-name |">Lana Steiner</p>
              <p class="publication-date | text-[#667085]">18 June 2024</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
